.jumbotron{
	background:url(/image/index_back.jpg) center no-repeat; 
	background-size: cover;
}
.login-form{
	background-color: rgb(255,255,255,0.7);
	border: solid 3px #6091d3;
    border-radius: 10px;
    padding: 5px;
}

/* アニメーション中のスタイル */
.v-leave-active,
.v-enter-active {
    transition: opacity 1s;
}
 
/* 表示アニメーション */
.v-enter {
    opacity: 0;
}
.v-enter-to {
    opacity: 1;
}
 
/* 非表示アニメーション */
.v-leave {
    opacity: 1;
}
.v-leave-to {
    opacity: 0;
}